# Documentation files
docs/* @saadrahim @LisaDelaney @kiritigowda @rrawther
*.md  @saadrahim @LisaDelaney @kiritigowda @rrawther
*.rst  @saadrahim @LisaDelaney
# Header directory
library/include/*  @saadrahim @LisaDelaney @kiritigowda @rrawther
# Source code
* @kiritigowda @rrawther
