.vscode
build*
sample_ovx/
warp_affine_old.cpp
utilities/rali_unittests/build/
apps/image_augmentation/build/
build.sh
utilities/rali_unittests/build.sh
rali/pybind_python/amd_rali.egg-info/
rali/pybind_python/dist/
rali/pybind_python/example/1.2.3/
temp/
