build*
docker_build*
hip_build*
.vscode*
opencv-3.4.0/*
openvx_test_results*
openvx_node_results*
platform_report*
rocprof_profiling_temp*
rocprof_profiling_outputs*
rocprof_vision_tests_outputs*
dumps*
generatedGDFs*
vision_report_Linux*